.pageHeader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem 0;
    color: #ffff;
}

.pageHeader > h1 {
    font-weight: bold;
    color: var(--green);
}
.pageHeader > img {
    position: relative;
    filter: drop-shadow(0 0 0.40rem #A0A5AC);
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: -10vh;
}

@media (max-width: 700px) {
    .pageHeader > h1 {
        font-size: 3rem;
    }
}

@media (max-width: 700px) {
    .pageHeader > h1 {
        font-size: 1.9rem;
    }
    /*.pageHeader > img {*/
    /*    margin-top: -15vh;*/
    /*}*/
}


.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 10vw;
    margin-bottom: 5rem;

}

.text-container > p{
    color: var(--black);
    text-align: center;
    margin: 5px;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;

}

.div{
    width: max-content;
    border: 1px solid red;
    padding: 0.8rem  1rem;
    border-radius: 5px;
    float: right;
    transition-duration: 1s;
}
.div:hover{
    background-color: dodgerblue;
    text-decoration-line: underline;
    cursor: pointer;
}