.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  padding: 2px;
}

.form {
  display: flex;
  flex-direction: column;
}
.errors {
  color: red;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 18px 10px 18px;
  border: 1px solid var(--line-grey);
  border-radius: 5px;
  outline: none;
  border-radius: 4px;
  margin: 4px;
}

.label {
  padding: 2px;
}

.alerts {
  margin: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  color: white;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 18px 10px 18px;
  border-radius: 5px;
  background-color: var(--black);
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--slate-black);
  cursor: pointer;
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: var(--slate-black);
}
