.page-header {
    margin-top: 10px;
    /*width: 99%;*/
    width: 100%;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text-container {
    text-align: center;
}

.text-container > h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 350;
    letter-spacing: 2px;
    color: var(--black);
    text-decoration: none;
    text-transform: none;
}

.text-container > p {
    margin-top: 20px;
    letter-spacing: 2px;
}

.img-container > img {
    filter: drop-shadow(0 0 0.60rem #A0A5AC);

}


.card-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 120px 0 160px 0;
}

.search-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;
    border: 1px solid #E1E4E8;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.item > select {
    padding: 5px 10px;
    border: 1px solid #E1E4E8;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}


.item > select {
    border: none;
    letter-spacing: 1px;
    width: 100%;
    min-width: 80px;
}

.item > select:focus {
    outline: none;
}


/* Mobile */
@media (max-width: 700px) {

    .hero-section {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .page-header {
        /*margin-top: 30px;*/
        height: 100vh;
    }

    .img-container > img {
        width: 200px;
        height: 217px;
        filter: drop-shadow(0 0 0.80rem #A0A5AC);

    }

    .search-section {
        margin: 5rem 0 0 0;
    }


    .text-container > h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .text-container > p {
        margin-top: 12px;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .card-container {
        width: 100%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

    .page-header {
        margin-top: 40px;
        width: 99%;
    }

    .img-container > img {
        width: 250px;
        height: 271px;
    }

    .text-container > h1 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .text-container > p {
        letter-spacing: 0.5px;
    }
}
