:root {
  /*--max-width: 110px;*/
  /*--border-radius: 12px;*/
  /*--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",*/
  /*"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",*/
  /*"Fira Mono", "Droid Sans Mono", "Courier New", monospace;*/

  --black: #3B3D41;
  --grey: #A0A5AC;
  --line-grey: #E1E4E8;
  --slate-black: #667085;
  --mist-grey: #F2F2F2;

  --light-green: #22C55E;
  --light-yellow: #FFC107;
  --light-blue: #3B82F6;
  --light-red: #FF3737;
  --light-red2: #FF69B4;

  --green: #2E865F;
  --soil: #EEB27B;
}


/*  reset everything*/
*, *::before,*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/*  prevent iOS font size change*/
html {
  -webkit-text-size-adjust: 100%;
}

/*  reset body line-height*/
body {
  background-color: rgb(255, 255, 255);
  /*font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial",sans-serif;*/
  line-height: 1;
  /*text-rendering: optimizeSpeed;*/
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*max-width: 1440px;*/
}

/*  assign button hover state*/
button, [role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

/*  reset anchor style*/

p{
  font-family: --myCustomFont,"system-ui", "-apple-system", "BlinkMacSystemFont",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--grey);
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
}

main{
  width: 95%;
  max-width: 1440px; /* Fixed maximum width */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Centering main element */
  overflow: hidden;
}

h1{
  font-size: 60px;
  font-style: normal;
  font-weight: 350;
  letter-spacing: 2px;
  color: var(--black);
  text-decoration: none;
  text-transform: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}