.hero-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem 0 4rem;

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-container > p {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.img-container{
    overflow: hidden;

    /*border: 1px solid red;*/

}

.img-container > img{
    filter: drop-shadow(0 0 0.40rem #A0A5AC);

}

@media (max-width: 1350px) {
    .text-container > h1 {
        font-size: 45px;
        letter-spacing: 2px;
    }
    .img-container > img{
        width: 430px;
        height: 400px;
    }
    .hero-container{
        padding: 0 2rem 0 2rem;
    }
}

@media (max-width: 1000px) {
    .hero-container{
        padding: 0 1.5rem 0 1.5rem;
    }
    .text-container > p {
        font-size: 12px;
        letter-spacing: 1px;
        text-align: center;
    }
    .text-container > h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .img-container > img{
        width: 323px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    .hero-container{
        flex-direction: column-reverse;
        padding: 0 0 0 0;
        margin-top: 2.5rem;
    }
    .img-container{
        width: 100%;
        text-align: center;
    }

    .img-container > img{
       rotate: -30deg;
        width: 300px;
        height: 278px;
        margin-bottom: 1rem;
        padding-left: 15px;
    }
}

/*@media (max-width: 324px) {*/
/*    .img-container > img{*/
/*        rotate: -30deg;*/
/*        width: 200px;*/
/*        height: 185px;*/
/*        margin-bottom: 1rem;*/
/*    }*/
/*}*/










.div{
    width: max-content;
    border: 1px solid red;
    margin-top: 20rem;
    padding: 0.8rem  1rem;
    border-radius: 5px;
    float: right;
    transition-duration: 1s;
}
.div:hover{
    background-color: dodgerblue;
    text-decoration-line: underline;
    cursor: pointer;
}


















/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
