.hero-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem 0 4rem;

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-container > p {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.img-container{
    overflow: hidden;
}


.img-container > img{
    filter: drop-shadow(0 0 0.40rem #A0A5AC);

}


/* Why we Build it */

.home-story-container{
    margin-top: 5rem;
    /*border-top: 1px solid var(--cloud-grey)*/
}

#why-built-it-title{
    font-size: 12px;
    margin-bottom: 20rem;
}


.why-built-it-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* Explore Uttarakhand */
.journey-container{
    border-top: 1px solid var(--cloud-grey);
    padding-top: 1rem;
    margin-top: 3rem;
}
.journey-container > p{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    width: max-content;
}
.journey-container > div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.journey-left-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.journey-left-container > div > h3 {
    font-size: 1.5rem;
    width: max-content;
}


.journey-left-container a {
    color: white;
    background-color: var(--black);
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: none;
    width: max-content;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: 9px;
        height: 1px;
        width: 78%;
        left: 17px;
        background-color: var(--black);
        transition: 0.3s ease-in-out;
        transform: scale(0, 1);
        transform-origin: 0 100%;
    }

    &:hover::after {
        transform: scale(1, 1);
    }

    &:hover {
        color: var(--slate-black);
        background-color: var(--mist-grey);
    }
}


.journey-right-container > img {
    filter: drop-shadow(0 0 0.40rem #A0A5AC);
    border-radius: 8px;
}


@media  (max-width: 1350px) {
    .text-container > h1 {
        font-size: 45px;
        letter-spacing: 2px;
    }
    .img-container > img{
        width: 430px;
        height: 400px;
    }
    .hero-container{
        padding: 0 2rem 0 2rem;
    }
}

@media (max-width: 1000px) {
    .hero-container{
        padding: 0 1.5rem 0 1.5rem;
    }
    .text-container > p {
        font-size: 12px;
        letter-spacing: 1px;
        text-align: center;
    }
    .text-container > h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .img-container > img{
        width: 323px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    .hero-container {
        flex-direction: column-reverse;
        padding: 0 0 0 0;
        margin-top: 2.5rem;
    }
    .img-container{
        width: 100%;
        text-align: center;
    }

    .img-container > img{
        rotate: -30deg;
        width: 300px;
        height: 278px;
        margin-bottom: 1rem;
        padding-left: 15px;
    }

    .journey-container > div {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .journey-right-container {
        display: flex;
        justify-content: center; /* Centers the image within the container */
        align-items: center; /* Vertically centers the image within the container */
        width: 100%;
        overflow: hidden; /* Prevents the image from overflowing the container */
    }

    .journey-right-container > img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover; /* Ensures the image covers the container without distortion */
    }

}



@media (max-width: 500px) {
    .journey-container > p{
        font-size: 10px;
    }
}


























/* Links */
.div{
    width: max-content;
    border: 1px solid red;
    margin-top: 20rem;
    padding: 0.8rem  1rem;
    border-radius: 5px;
    float: right;
    transition-duration: 1s;
}
.div:hover{
    background-color: dodgerblue;
    text-decoration-line: underline;
    cursor: pointer;
}


/*!* Enable hover only on non-touch devices *!*/
/*@media (hover: hover) and (pointer: fine) {*/
/*}*/

/*@media (prefers-reduced-motion) {*/
/*}*/

/*!* Mobile *!*/
/*@media (max-width: 700px) {*/

/*}*/

/*!* Tablet and Smaller Desktop *!*/
/*@media (min-width: 701px) and (max-width: 1120px) {*/

/*}*/
