.dropdown-menu-container {
    display: none;
}

.item:hover > .dropdown-menu-container {
    display: block;
    color: var(--grey);
}


.search-section {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 120px 0 160px 0;

}

.search-container {
    width: 500px;
    height: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;

    border: 1px solid #E1E4E8;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item > p {
    color: var(--black);
}


.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


















