.footer-container{
    margin-top: 15rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    width: 100%;
  
    border-top: 1px solid var(--line-grey);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.footer > h1 {*/
/*    font-size: 20px;*/
/*}*/

/*.footer > p {*/
/*    margin-top: 2px*/
/*}*/

/*.footer > div > p  {*/
/*    margin-top: 2rem;*/
/*    color: var(--black);*/
/*    font-size: 10px;*/
/*}*/




.newsletter-container{
    max-width: 1200px;
    /* 980 at 1280px*/
    width: 100%;
    position: relative;
    z-index: 2;
    top: -135px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 4rem;
    background-color: #F2F2F2;
    text-align: left;
    border-radius: 10px;
}

.newsletter-container > div p {
    font-size: 18px;
    color: #667085;
}

.newsletter-container > div > h3 {
    font-size: 28px;
    margin-bottom: 1rem;
}
.newsletter-right-container > .newsletter-email-container > form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}
.newsletter-right-container > .newsletter-email-container > form > input{
    width: 100%;
    max-width: 250px;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 18px 10px 18px;

    border: 1px solid var(--line-grey);

    border-radius: 5px;
    outline: none;
}

.newsletter-right-container > .newsletter-email-container > form > p{
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 18px 10px 18px;

    border: 1px solid var(--line-grey);

    border-radius: 5px;
    background-color: white;
}
.newsletter-right-container > .newsletter-email-container > form > p:hover{
    color: white;
    background-color: var(--black);
    cursor: pointer;
}




.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.footer-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;

    padding: 0 4rem 0 4rem;
}
.footer-right-link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    text-align: left;
}

.footer-left-container{
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.footer-left-container > h2 {
    margin-bottom: 1rem;
    color: var(--black);
    letter-spacing: 2px;
}
.footer-right-link-container > p {
    color: var(--black);
    font-weight: 600;
}

.footer-right-link-container > a {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--grey);
    text-decoration: none;
    text-transform: none;
    line-height: 25px;
    width: max-content;
    position: relative;
}

.footer-right-link-container > a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: var(--black);
    transition: 0.3s ease-in-out;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
}

.footer-right-link-container > a:hover::after {
    transform: scale(1, 1);
}
.footer-right-link-container > a:hover {
     color: var(--black);
     filter: drop-shadow(0 0 0.90rem #A0A5AC);
 }


.copyright-container{
    border-top: 1px solid var(--line-grey);

    margin-top: 5rem;
    max-width: 1200px;
    width: 100%;
}

.copyright-container > p{
    margin: 2rem 0 1rem 0;
    color: var(--black);
}


@media (max-width: 1000px) {
    .newsletter-container{
        padding: 4rem 2rem 4rem 2rem;
        gap: 5px;
    }

    .newsletter-right-container > .newsletter-email-container > form > p{
        padding: 10px 15px 10px 15px;
    }
    .newsletter-right-container > .newsletter-email-container > form {
        gap: 0.5rem;
    }
}


@media (max-width: 699px) {
    .newsletter-container{
        padding: 4rem 1rem 4rem 1rem;
        flex-direction: column;
        gap: 3rem;
        float: left;
        align-items: flex-start;
    }

    .newsletter-right-container > .newsletter-email-container > form > input{
        padding: 10px 15px 10px 15px;
    }
    .footer-right-container{
        max-width: 500px;
        width: 100%;
        padding: 0 0.5rem 0 2rem;
        gap: 5px
    }

    .newsletter-container > div p {
        font-size: 16px;
    }
}

@media (max-width: 499px) {
    .footer{
        flex-direction: column;
        gap: 2rem;
    }
    .footer-left-container > h2{
        text-align: center;
    }

    .footer-right-container{
        padding: 0 2rem 0 2rem;
    }
}











/* */

.notify-early-container{

}

.notify-early-banner-container > img {
    width: 100%;
    height: auto;

}

#notify-early-image{
    width: 100%;
    height: auto;
}