.navbar-container{
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
}
.navbar {
    width: 95%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 20px 0;
    border-bottom: 1px solid #E1E4E8;
}
.fade-navbar-effect{
    width: 100%;
    height: 4rem;
    margin-top: 3rem;
    backdrop-filter: blur(10px);
    z-index: 1;
    position: fixed;
    /*background-image: linear-gradient(294deg, rgb(59, 61, 65) 0%, rgba(255, 0, 0, 0.8) 108.834%);*/
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(10px);
}
.empty-navbar{
    margin-top: 2rem;
    height: 4rem;
    width: 95%;
}


.title {
    font-size: 14px;
    color: rgb(59, 61, 65);
    letter-spacing: 0.03em;
    font-weight: 650;
    filter: drop-shadow(0 0 0.80rem #A0A5AC);
    text-transform: uppercase;
    margin: 0;
}

.heading {
    text-decoration: none;
}

.link {
    font-size: 14px;
    color: rgb(59, 61, 65);
    letter-spacing: -0.01em;
    font-weight: 650;
    filter: drop-shadow(0 0 0.80rem #A0A5AC);
    text-transform: uppercase;
    text-decoration: none;
}

/* Hover Effects */
.title:hover, .link:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}



/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .navbar {
        width: 93%;
    }
}
